body{
    padding: 0px;
    margin: 0px;
    font-family: BebasNeue, Helvetica,Arial, sans-serif;
}


@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf");
    src: url("../fonts/BebasNeue-Regular.ttf");
}

#menu{
    background-color:gray;
    color:aqua;
    padding: 49px;
    margin: 0px;
    border: 0px
}
.mbutton .button {
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
float: right;
font-family: BebasNeue, Helvetica,Arial, sans-serif;
}
.mbutton .button:hover {
background-color: #3e8e41;
}

.voltar .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    font-family: BebasNeue, Helvetica,Arial, sans-serif;
    }
.voltar .button:hover {
background-color: #3e8e41;
}


.center {
position: absolute;
left: 0;
top: 50%;
width: 100%;
text-align: center;
font-size: 18px;
}



.album1 {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around
}

.menuvoltar{
    display: flex;
    justify-content: flex-start;
}

.verso{
    width: 925px;
    text-align: right;
    float: left;
    font-family: Arial;
    
}
.inverso{
    width: 925px;
    text-align: left;
    float: right;
    font-family: Arial;
}

.video{
    display: flex;
    justify-content:  center
}