
@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf");
    src: url("../fonts/BebasNeue-Regular.ttf");
}

body{
    background-image: url("../img/bf.jpg");
    background-size: auto;
    text-align: center;
    font-family: BebasNeue, Helvetica,Arial, sans-serif;
}

p{
    width: 80%;
    margin: auto;
    text-align: justify;
}


