a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    background-color: yellow;

}

a:visited {
    color: yellow;
}

a:active {
    background-color: red;
}

a:link {
    color: red
}